<div class="wrapper">
     <div class="innerContainer bg-light">
          <div class="row surveyCardHeader">
               <span class="cardHeader">{{survey.surveyName}}</span>
          </div>
          <hr>
          <div class="row innerContentCard">
               <div class="col">
                    <div class="row">
                         <span class="cardInnerText font-weight-bold">Survey Description:</span>
                         <span class="cardInnerText">{{survey.surveyDescription}}</span>
                    </div>
                    <hr>
                    <div class="row">
                         <span class="cardInnerText font-weight-bold">Survey Statistics</span>
                    </div>
                    <div class="row">
                         <span class="cardInnerText"><fa-icon [icon]="faSkull"></fa-icon> Fraud Rate: NA%</span>
                    </div>
                    <div class="row">
                         <span class="cardInnerText"><fa-icon [icon]="faCalendarCheck"></fa-icon> Start Date: {{survey.startDate}}</span>
                    </div>
                    <div class="row">
                         <span class="cardInnerText"><fa-icon [icon]="faCalendarTimes"></fa-icon> End Date: {{survey.endDate}}</span>
                    </div>
                    <div class="row">
                         <app-countdown [endDate]="survey.endDate"></app-countdown>
                    </div>
                    <div class="row">
                         <span class="cardInnerText"><fa-icon [icon]="faLink"></fa-icon> Hosting Link: <a href="http://localhost:4200/survey/start/{{survey.s3Filename}}" (click)="authService.logout()">
                              localhost:4200/survey/start/{{survey.s3Filename}}</a></span>
                    </div>
               </div>
               <div class="col">
                    <apx-chart [series]="series" [chart]="chart" [title]="title"></apx-chart>
               </div> 
          </div>
          <div class="row cardBtnRow">
               <div class="col">
                    <button type="button" class="btn btn-info float-left" routerLink="/home">Back</button>
               </div>
               <div class="col">
                    <button type="button" class="btn btn-danger float-right" (click)="confirmDeleteModal(content)">Delete Survey</button>
               </div>
          </div>
     </div>
</div>

<ng-template #content let-modal>
     <div class="modal-header">
       <h4 class="modal-title" id="modal-basic-title">Delete Survey</h4>
       <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <form>
         <div>
           <label for="msg">Are you sure you want to delete this Survey? Cannot be un-done.</label>
         </div>
       </form>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-danger" routerLink="/home" (click)="modal.close('Save click'); deleteSurvey()">Delete Survey</button>
     </div>
   </ng-template>
 

