<div class="wrapper">
     <div class="innerContainer bg-light">
          <div class="row surveyCardHeader">
            <div class="col surveyCardHeader">
              <span class="cardHeader">{{survey.surveyName}}</span>
            </div>
            <div class="col">
              <ul class="nav nav-pills tabs">
                <li class="nav-item">
                    <button type="button" class="btn btn-primary tabBtn" (click)="showChart('barchart')">Bar-Chart</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary tabBtn" (click)="showChart('piechart')">Pie-Chart</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary tabBtn" (click)="showChart('combo')">Combo</button>
                </li>
              </ul>
            </div>
          </div>
          <hr>
          <div class="row innerContentCard">
               <div class="col">
                    <div class="row">
                         <span class="cardInnerText font-weight-bold">Survey Description:</span>
                         <span class="cardInnerText">{{survey.surveyDescription}}</span>
                    </div>
                    <hr>
                    <div class="row">
                         <span class="cardInnerText font-weight-bold">Survey Statistics</span>
                    </div>
                    <div class="row">
                         <span class="cardInnerText"><fa-icon [icon]="faSkull"></fa-icon> Fraud Rate: {{survey.fraudRate}}%</span>
                    </div>
                    <div class="row">
                         <span class="cardInnerText"><fa-icon [icon]="faCalendarCheck"></fa-icon> Start Date: {{survey.startDate}}</span>
                    </div>
                    <div class="row">
                         <span class="cardInnerText"><fa-icon [icon]="faCalendarTimes"></fa-icon> End Date: {{survey.endDate}}</span>
                    </div>
                    <div class="row">
                         <app-countdown [endDate]="survey.endDate"></app-countdown>
                    </div>
                    <div class="row">
                         <span class="cardInnerText"><fa-icon [icon]="faLink"></fa-icon> Hosting Link: <a href="http://localhost:4200/survey/start/{{survey.s3Filename}}" (click)="authService.logout()">
                              localhost:4200/survey/start/{{survey.s3Filename}}</a></span>
                    </div>
               </div>

               <div class="col">
                <div *ngIf="isBarchart" id="chartBar">
                  <apx-chart
                    [series]="chartOptionsBar.seriesBar"
                    [chart]="chartOptionsBar.chartBar"
                    [dataLabels]="chartOptionsBar.dataLabels"
                    [plotOptions]="chartOptionsBar.plotOptions"
                    [responsive]="chartOptionsBar.responsiveBar"
                    [xaxis]="chartOptionsBar.xaxis"
                    [legend]="chartOptionsBar.legend"
                    [fill]="chartOptionsBar.fill"
                  ></apx-chart>
                </div>

                <div *ngIf="isPiechart" id="chartPie">
                  <apx-chart
                    [series]="chartOptionsPie.seriesPie"
                    [chart]="chartOptionsPie.chartPie"
                    [labels]="chartOptionsPie.labels"
                    [responsive]="chartOptionsPie.responsivePie"
                  ></apx-chart>
                </div>

              </div>
          </div>
          <div class="row cardBtnRow">
               <div class="col">
                    <button type="button" class="btn btn-info float-left" routerLink="/home">Back</button>
               </div>
               <div class="col">

               </div>
          </div>
     </div>
</div>


