.wrapper {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
}

.topRow {
    color: white;
}

.cardHeader {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 50px;
}

.cardInnerText {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding-left: 40px;
    padding-bottom: 5px;
}

.innerContentCard {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 20px;
}

.cardBtnRow {
    padding: 40px;
}

.innerContainer {
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    margin-top: 120px;
}

.tabRow {
  padding-left: 70px;
  padding-right: 20px;
}

.tabs {
  padding: 5px;
}

.tabBtn {
  margin: 8px;
}

.tabBtn:hover {
  color: white !important;
}

.tabBtn:focus{
  background: #24b0e8;
}
