#loading{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #ffffff;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

.spinnerWrap {
  width: 100px;
	height: 100px;
	position: absolute;
  color: white;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}