<app-spinner></app-spinner>

   <div class="wrapper">
    <ng-container *ngIf="survey">
      <div class="innerContainer bg-light">
        <div class="row surveyCardHeader">
              <span class="cardHeader">Survey Name: {{survey.surveyName}}</span>
        </div>
        <hr>
        <div class="row cardInnerText">
          <div class="col">
                <div class="row cardInnerText">
                    <span class="font-weight-bold">Survey Description:</span>
                    <div class="tandcBox overflow-auto">
                      <span>{{survey.surveyDescription}}</span>
                    </div>
                </div>
                <div class="row countDownRow">
                      <app-countdown [endDate]="survey.endDate"></app-countdown>
                </div>
                <div class="row">
                </div>
            </div>
            <div class="col">
              <div class="row">
                <span class="font-weight-bold">Terms and Conditions</span>
                <div class="tandcBox overflow-auto">
                  <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </span>
                </div>
              </div>

              <div class="row">
                <div class="col-8 checkboxCol">
                  <div class="checkboxTC form-check" [formGroup]="tcForm">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="acceptTerms">
                    <label class="form-check-label" for="flexCheckDefault">
                      I have read terms and conditions
                    </label>
                    <div class="alert alert-danger" *ngIf="acceptTerms.touched && !acceptTerms.valid">Please accept the terms and conditions</div>
                  </div>
                </div>

                <div class="col-4 successBtnCol">
                  <button [disabled]="!tcForm.valid" class="btn btn-success float-right" routerLink="/survey/complete/{{survey.surveyId}}/1" (click)="beginSurvey(survey)" type="submit">Begin Survey</button>
                </div>

              </div>

            </div>
        </div>
      </div>
    </ng-container>
   </div>
