.profileDrpdwn {
    border-radius: 0 10px 10px 0;
}

.navbar {
    background-color: #0763c6;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
  }

#logoText {
    height: 50px;
    width: 250px;
}