.profileDrpdwn {
    border-radius: 0 10px 10px 0;
}

.navbar {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
  }

#logoIcon {
    height: 50px;
    width: 50px;
}

#logoText {
  padding-left: 10px;
  height: 50px;
  width: 120px;
}
