<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/home"><img src="https://survey-scrub-site-images.s3-eu-west-1.amazonaws.com/survey_scan_text.png" id="logoText"></a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="navSearchTitle" name="search">
        </form>

          <!-- <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
            <button class="btn btn-outline-light mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Settings</button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button ngbDropdownItem routerLink="/home">My Profile</button>
              <button ngbDropdownItem routerLink="/" (click)="logout()">Logout</button>
            </div>
          </div> -->
          <button type="button" class="btn btn-danger" routerLink="/" (click)="logout()">Logout</button>
      </div>
</nav>

    