<div class="wrapper">
     <div class="container-fluid topRow">
          <div class="row">
               <div class="col">
                    <h1 class="welcomeMsg">Welcome back, {{user.firstName}}!</h1>
               </div>
               <div class="col">
                    <button type="button" class="newSurveyBtn btn btn-info m-4" routerLink="/createsurvey">New Survey</button>
               </div> 
          </div>
     </div>

     <div class="container-fluid">
          <div class="row justify-content-center">
               <div *ngFor="let survey of surveys | surveyFilter: searchTitle" class="col-sm-12 col-md-4 col-lg-3 m-2 bg-light surveyCard">
                    <div class="row surveyCardHeader">
                         <span class="container cardHeader">{{survey.surveyName}}</span>
                    </div>
                    <hr>
                    <div class="row innerContentCard">
                         <div class="col">
                              <div class="row">
                                   <span class="cardInnerText"><fa-icon [icon]="faSkull"></fa-icon> Fraud Rate: NA%</span>
                              </div>
                              <div class="row">
                                   <span class="cardInnerText"><fa-icon [icon]="faCalendarCheck"></fa-icon> Start Date: {{survey.startDate}}</span>
                              </div>
                              <div class="row">
                                   <span class="cardInnerText"><fa-icon [icon]="faCalendarTimes"></fa-icon> End Date: {{survey.endDate}}</span>
                              </div>
                         </div>
                    </div>
                         <div class="row cardBtnRow">
                              <div class="col">
                                   <button type="button" class="btn btn-primary float-right viewSurveyBtn" routerLink="/surveyinsights" (click)="viewSurveyInsights(survey)">View Survey</button>
                              </div>
                         </div>
                    </div>
          </div>
     </div>
</div>