.backgroundImg {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
}

.backgroundImg::before {    
    content: "";
    background-image: url('https://survey-scrub-site-images.s3-eu-west-1.amazonaws.com/abstract_background.jpg');
    background-size: cover;
    position: fixed;
    z-index:-10;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    //opacity: 0.8;
}

