<app-spinner></app-spinner>

<div class="wrapper">
    <div class="innerContainer bg-light">
          <div class="row">
               <span class="container cardHeader text-center">THANK YOU FOR COMPLETING THE SURVEY</span>
          </div>
          <div class="row">
               <span class="container cardHeader text-center">POWERED BY:</span>
          </div>
          <div class="row justify-content-center btmRow">
               <a class="navbar-brand" routerLink="/"><img src="https://survey-scrub-site-images.s3-eu-west-1.amazonaws.com/survey_scan_text.png" id="logoText"></a>
          </div>
      <hr>
</div>